<%  include partials/header %>
  <div class="container">
    <div class="jumbotron">
      <h1 class="display-4"><%=journal.title%></h1>
      <hr class="my-4">
      <h6 class="card-subtitle mb-2 text-muted"><%=journal.subtitle%></h6>
      <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="<%=journal.image%>" class="d-block w-100" alt="...">
          </div>
        </div>
      </div>
      <p class="text-justify"><%=journal.description%></p>
      <p class="card-text"><small class="text-muted"><%=journal.published.toDataString()%></small></p>
      <footer class="blockquote-footer">Someone famous in <cite title="Source Title"><%=journal.author%></cite></footer>
    </div>
  </div>
<%  include partials/footer %>
